@use 'variables' as*;


/*---------------------Style section 8-----------------------*/

.section-8{
    margin: 40px 10px 50px;
    height: 740px;
    background: url('https://www.google.com/maps/vt/data=-GQuxs_uMyGAelnxiWr3qYXXpqqmwyTjTtkAaihrQZwgkYlU_nZyjbXUV3UmrLEpdMsNTBUI7I17lJllLWd7xSXT5fInTivJYpngbYrowqgoApseeV1DWjR2IYYVEfsjvVB3MUFOHk_SM1kdhHXd2Hz0W6FUjQbPs8h_jcGO78ksOmtWv_itf3BkT7bOc5Xsl9ovowC33W_-69w-MdjEmjRLNSqSmc6TWgBhDeN8KP1uRfHFjhjnMzS6VT2lHKFYCmiV6s4IlHiDuRzLJW0LHYbLAFeU2rDIjDVNybTyeVYcRBN1XCbreiI_S_xX8QW3ra4') center;
    background-size: cover;
}
