$primary-color:#D7662C;
$secondary-color: #D3BE5F;
$background-color: #F4F5F2;
$coul-bg:#86CFCD;
$text-color: black; 
$form-color: #622827;
$bloc__text1: 'logo.jpg';
$bloc__text2: 'logo-bb.jpg';
$bloc__text:'';
